<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<title>WEUI</title>
<link href="../style/weui.min.css" type="text/css" rel="stylesheet" />
<link href="../style/example.css" type="text/css" rel="stylesheet" />
<script language="javascript" src="../zepto.min.js"></script>
<script language="javascript" src="../my.js"></script>
</head>

<body>
<div class="page">
  <div class="bd" style="height: 100%;">
    <div class="weui_tab">
      <div class="weui_navbar">
        <div class="weui_navbar_item weui_bar_item_on"> 选项一 </div>
        <div class="weui_navbar_item"> 选项二 </div>
        <div class="weui_navbar_item"> 选项三 </div>
      </div>
      <div class="weui_tab_bd"> </div>
    </div>
  </div>
</div>
</body>
</html>